[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
[Rr]ecordings/
.vs/
.gradle/
*.csproj
*.sln
*.slnx
*.unityproj
*.user
*.log
*.apk
*.aab
*.unitypackage
*.app
mono_crash.*
sysinfo.txt
